<div class="jumbotron text-center">
  <h1> Remplissez les champs suivants</h1>
</div>

<div class="container">
  <div class="row">

    <!--Colonne de gauche pour le chat-->
    <div class="col-sx-12 cl-sm-12 col-md-4" style="text-align: center;">
      <div>
        <h3> Partie pour le chat</h3>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-nom">Nom du chat</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-age">Âge du chat</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-age">Âge du chat</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
    </div>


      <!-- Colonne de droite pour le propriétaire du chat-->
      <div class = "col-sx-12 col-sm-12 col-md-8" style="text-align: center;">
        <div>
          <h3> Partie pour le propiétaire</h3>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-nom">Nom du propriétaire</span>
          </div>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-nom">Prénom du propriétaire</span>
          </div>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-nom">Adresse mail du propriétaire</span>
          </div>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
      </div>

  </div>
</div>
