<div class="container-fluid">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink routerLink="/accueil" routerLinkActive="menu-actif">Accueil</a>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink routerLink="/adopter" routerLinkActive="menu-actif">Adopter un chat</a>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink routerLink="/donner" routerLinkActive="menu-actif">Donner un chat</a>
    </li>
    <li [ngbNavItem]="4">
      <a ngbNavLink routerLink="/forum" routerLinkActive="menu-actif">Forum</a>
    </li>
    <li [ngbNavItem]="5">
      <a ngbNavLink routerLink="/contact" routerLinkActive="menu-actif">Contact</a>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>


  <main>
    <router-outlet></router-outlet>
  </main>

</div>
